@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
  background-position: center;
  background-attachement: fixed;
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #5f9ea0;
}

.app-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.navbar-box {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.navbar-item {
  display: inline-block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #374151;
  border-radius: 12px;
}

.main-content {
  width: 100%;
}

.main-grid {
  grid-template-columns: 1fr;
}

.left-column {
  width: 100%;
  padding: 10px 0;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #1f2937;
  color: white;
  font-size: 24px;
}

.search-bar button {
  display: none;
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.hourly-forecast {
  background-color: #1f2937;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}
.forecast-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 3px solid #2d3748;
}

.air-conditions {
  background-color: #1f2937;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.air-conditions h1 {
  font-size: 23px;
}

.condition-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.previsions-container {
  background-color: #1f2937;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.previsions-container h3 {
  font-size: 23px;
  color: #a0aec0;
}

.previsions-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.prevision-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .app-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
  }

  .navbar {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
  }
  
  .navbar ul {
    list-style-type: none;
  }

  .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    color: white; 
    padding: 0.5rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s;
  }

  .navbar-item:hover {
    background-color: #374151; /* Correspond à hover:bg-gray-700 */
  }

  .icon {
    height: 2rem; /* Correspond à h-8 */
    width: 2rem; /* Correspond à w-8 */
  }

  .navbar-item p {
    font-size: 0.75rem; /* Correspond à text-xs */
    margin-top: 0.25rem; /* Correspond à space-y-1 */
  }

  .main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .search-bar {
    display: flex;
    padding: 20px;
    width: 100vh;
    font-family: 'Quicksand', sans-serif;
  }  

  .search-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #1f2937;
    color: white;
    font-size: 18px;
  }

  .search-bar button {
    display: none;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    padding: 20px;
    margin-right: 5px;
  }

  .left-column {
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .right-column {
    background-color: #1f2937;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }

  .weather-info {
    background-color: #1f2937;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ville-temp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .hourly-forecast {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #1f2937;
      border-radius: 12px;
      padding-bottom: 20px;
    }

    .forecast-item {
      border-bottom: 3px solid #2d3748;
      display: flex;
      gap: 20px;
    }
  
    .air-conditions {
      display: flex;
      justify-content: space-around;
      background-color: #1f2937;
      border: none;
      border-radius: 12px;
    }

    .condition1 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
    }

    .condition2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 50px;
      color: white;
    }

    .previsions-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #1f2937;
      border-radius: 12px;
    }

    .previsions-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .prevision-item {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      padding: 18px 0;
      border-bottom: 3px solid #2d3748;
    }

    
}