@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary-color: #1f2937;
  --secondary-color: #5f9ea0;
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --primary-color: #181C14;
  --secondary-color: #4a5568;
  --background-color: #181C14;
  --text-color: #181C14;
}

body {
  background-size: cover;
  background-position: center;
  background-attachement: fixed;
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
}

.app-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.navbar-box {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.navbar-item {
  display: inline-block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.navbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 70px;
}

.navbar-item:hover {
  background-color: #374151;
  border-radius: 12px;
}

.main-content {
  width: 100%;
}

.main-grid {
  grid-template-columns: 1fr;
}

.left-column {
  width: 100%;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  color: var(--text-color);
  font-size: 24px;
}

.search-bar button {
  display: none;
}

.weather-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.hourly-forecast {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.forecast-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 3px solid #2d3748;
}

.air-conditions {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.air-conditions h1 {
  font-size: 23px;
}

.condition-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.previsionsFiveDays-container h3 {
  font-size: 23px;
  color: white;
}

.previsionFiveDays-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.previsionsFiveDays-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previsions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
}

.dynamic-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.heure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

.time-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  @media (min-width: 768px) {
  .app-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100vh;
  }

  .navbar {
    height: 95vh;
  } 
  
  .navbar-item {
    margin-bottom: 2rem;
  }

  .navbar-button {
    height: 70px;
    width: 60px;
  }
  .navbar-item:hover {
    background-color: #374151;
  }

  .main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .search-bar {
    display: flex;
    padding: 20px;
    width: 100vh;
    font-family: 'Quicksand', sans-serif;
  }  

  .search-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    color: var(--text-color);
    font-size: 18px;
  }

  .search-bar button {
    display: none;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    padding: 20px;
    margin-right: 5px;
  }

  .left-column {
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .right-column {
    background-color: #1f2937;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }

  .ville-temp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .hourly-forecast {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--primary-color); 
      border-radius: 12px;
      padding-bottom: 20px;
    }

    .forecast-item {
      border-bottom: 3px solid #2d3748;
      display: flex;
      gap: 20px;
    }
  
    .air-conditions {
      display: flex;
      justify-content: space-around;
      background-color: var(--primary-color); 
      border: none;
      border-radius: 12px;
    }

    .condition1 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
    }

    .condition2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
    }

    .previsionsFiveDays-list {
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      gap: 20px;
      height: 100%;
    }
  
    .previsionFiveDays-item {
      flex-grow: 1;
      justify-content: center; 
    }
}

@media (max-width: 390px) {
  .navbar-button {
    height: 30px;
    width: 20px;
    align-items: center;
  }
}